.underline {
   border-bottom: 1px solid white;
}

.dropmenu-close {
   width: 200px;
   height: 550px;

   border: 1px solid black;
   background-color: #333;

   display: none;
}

.dropmenu-open {
   position: fixed;
   top: 0;
   left: 0;

   width: 200px;
   height: 550px;

   border: 1px solid black;
   background-color: #333;

   color: white;

   border-bottom-right-radius: 25px;

   animation: open .5s ease-in-out;
}

@keyframes open {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

.header-icon-elements {
   display: flex;
   align-items: center;

   margin-left: 20px;
}

/* .header-icon-element-text {
   font-family: 'Poppins';
} */

.header-link {
   text-decoration: none;
   color: white;

   border-bottom: 1px solid white;

   font-size: 25px;

   padding: 5px;

   display: flex;
   align-items: center;
   justify-content: center;
}

.header-link-dark {
   text-decoration: none;
   color: white;

   border-bottom: 1px solid white;

   font-size: 25px;

   padding: 5px;

   display: flex;
   align-items: center;
   justify-content: center;
}

.icon-menu {
   padding-left: 10px;
}

.links-menu {
   display: flex;
   align-items: flex-start;
   flex-direction: column;
}

.dropmenu-categories-close {
   width: 200px;
   height: 550px;

   border: 1px solid black;
   background-color: #333;

   display: none;
}

.dropmenu-categories-open {
   position: fixed;
   top: 0;
   left: 0;

   width: 350px;
   height: 550px;

   border: 1px solid black;
   background-color: #333;

   color: white;

   border-bottom-right-radius: 25px;

   animation: open .5s ease-in-out;
}

.categories {
   display: flex;
   flex-direction: column;

   /* height: 500px; */

   border-bottom-right-radius: 25px;
}

.drop-info-close {
   width: 200px;
   height: 200px;

   position: absolute;
   top: 0;
   left: 200px;

   border: 1px solid black;

   display: none;
}

.drop-info-open {
   width: 200px;
   height: 200px;

   position: fixed;
   top: 0;
   left: 350px;

   border: 1px solid black;

   background-color: #333;

   border-bottom-right-radius: 25px;
}